<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1ca4fe2c-2fe0-4cb2-b4a1-79a56ced3238/resourcegroups/DEV/providers/Microsoft.ContainerRegistry/registries/acrmapper</ResourceId>
    <ResourceName>acrmapper</ResourceName>
    <ResourceGroup>DEV</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://acrmapper.azurecr.io/</RegistryUrl>
    <UserName>acrmapper</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>db324365-a348-4d5c-a5cc-f21df4345c51</ProjectGuid>
  </PropertyGroup>
</Project>